<configuration>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<!--<add name="Content-Security-Policy" value="form-action 'self'; default-src 'self' 'unsafe-inline' cdnjs.cloudflare.com; frame-ancestors 'self'; script-src 'sha256-w77ktvJB3FybpHrTd4ooqbairmYaAaYtYtuhBeiorvc='"/>-->
				<!--<add name="Content-Security-Policy" value="form-action 'self';"/>-->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>